.not_found {
	display: grid;
	width: 100%;
	min-height: calc(100vh - 156px);
	margin-top: 70px;
	place-content: center;

	& h2 {
		text-align: center;
		font-size: var(--text-3xl);
		font-weight: var(--font-bold);
	}
}
