.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: min(85%, 1200px);
	height: 70px;
	margin: 0 auto;
	margin-bottom: 16px;

	& h1 {
		font-size: var(--text-xl);
		font-weight: var(--font-medium);
	}

	& figure {
		display: flex;
		align-items: center;
		column-gap: 8px;
	}
}
